				<div class="form-group">
					<label for="{{f.id_for_label}}" class="col-sm-3 control-label">{{f.label}}</label>
					<div class="col-sm-4">{% if f.errors %}
						<ul class="error-list">{% for e in f.errors %}
							<li>{{e}}</li>{% endfor %}
						</ul>{% endif %}
						<div class="input-group date" id="{{f.id_for_label}}dt">
							{{f}}
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>{% if f.help_text %}
						<div class="help-text">{{f.help_text}}</div>{% endif %}
					</div>
					<script type="text/javascript">
					$(function () {
						$('#{{f.id_for_label}}').val(moment($('#{{f.id_for_label}}').val(), 'YYYY-MM-DD HH:mm:ss').format('DD/MM/YYYY HH:mm A'));
						$('#{{f.id_for_label}}dt').datetimepicker({format: 'DD/MM/YYYY HH:mm A'});
					});
					</script>
				</div>