{% for h in form.hidden_fields %}
				{{h}}{% endfor %}{% if f.errors %}
				<ul class="error-list">{% for e in form.non_field_errors %}
					<li>{{e}}</li>{% endfor %}
				</ul>{% endif %}{% for f in form %}
				<div class="form-group">
					<label for="{{f.id_for_label}}" class="col-sm-3 control-label">{{f.label}}</label>
					<div class="col-sm-9">{% if f.errors %}
						<ul class="error-list">{% for e in f.errors %}
							<li>{{e}}</li>{% endfor %}
						</ul>{% endif %}
						{{f}}{% if f.help_text %}
						<div class="help-text">{{f.help_text}}</div>{% endif %}
					</div>
				</div>{% endfor %}