				<div class="form-group">
					<label for="{{f.id_for_label}}" class="col-sm-3 control-label">{{label}}</label>
					<div class="col-sm-6">{% if f1.errors or f2.errors or f3.errors or f4.errors %}
						<ul class="error-list">{% for e in f1.errors %}
							<li>{{e}}</li>{% endfor %}{% for e in f2.errors %}
							<li>{{e}}</li>{% endfor %}{% for e in f3.errors %}
							<li>{{e}}</li>{% endfor %}{% for e in f4.errors %}
							<li>{{e}}</li>{% endfor %}
						</ul>{% endif %}
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon label80">{{f1.label}}</span>
							{{f1}}
							<span class="input-group-addon label80">{{f2.label}}</span>
							{{f2}}
							<a href="javascript:void(0)" 
							   class="btn btn-default input-group-addon" 
							   title="{{f12_title}}"
							   onclick="targetTextID=['{{f1.id_for_label}}','{{f2.id_for_label}}']; $('#position-modal').modal('show');"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a>
						</div>{% if f3 %}
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon label80">{{f3.label}}</span>
							{{f3}}
							<span class="input-group-addon label80">{{f4.label}}</span>
							{{f4}}
							<a href="javascript:void(0)" 
							   class="btn btn-default input-group-addon" 
							   title="{{f34_title}}"
							   onclick="targetTextID=['{{f3.id_for_label}}','{{f4.id_for_label}}']; $('#position-modal').modal('show');"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a>
						</div>{% endif %}{% if help_text %}
						<div class="help-text">{{help_text}}</div>{% endif %}
					</div>
				</div>