				<fieldset>
					<legend>General</legend>
{% include "common/form/bootstrap-field3-4.html" with f=form.name %}
{% include "common/form/bootstrap-field3-4.html" with f=form.species %}
{% include "common/form/bootstrap-field3-4.html" with f=form.reference %}
{% include "common/form/bootstrap-fielddatetime3-4.html" with f=form.publish %}
{% include "common/form/bootstrap-field3-4.html" with f=form.countsdownload %}
{% include "common/form/bootstrap-field3-4.html" with f=form.labgroup %}
{% include "common/form/bootstrap-field3-4.html" with f=form.collections %}
{% include "common/form/bootstrap-field3-4.html" with f=form.idcolumn %}
{% include "common/form/bootstrap-field3-4.html" with f=form.genelengthcolumn %}
{% include "common/form/bootstrap-field3-4.html" with f=form.annotationcolumns %}
{% include "common/form/bootstrap-field3-4.html" with f=form.externallinkurl %}
{% include "common/form/bootstrap-field3-4.html" with f=form.externallinklabel %}
{% include "common/form/bootstrap-field3-4.html" with f=form.externallinkregex %}
{% include "common/form/bootstrap-field3-4.html" with f=form.externallinksub %}
{% include "common/form/bootstrap-field3-9.html" with f=form.description_header %}
{% include "common/form/bootstrap-field3-9.html" with f=form.description_footer %}
				</fieldset>
				
				<fieldset>
					<legend>eFP</legend>
{% include "common/form/bootstrap-field3-4.html" with f=form.efpcountsformat %}
{% include "common/form/bootstrap-multifield3-6.html" with f1=form.legendtop f2=form.legendleft label="Legend position" help_text="Use Pin button to select position on image" %}
{% include "common/form/bootstrap-multifield3-6.html" with f1=form.graphtop f2=form.graphleft f3=form.graphbottom f4=form.graphright label="Graph area" help_text="Use Pin buttons to select position on image" %}
{% include "common/form/bootstrap-linkform3-9.html" with formset=linkformset label='Image links' %}
{% include "common/form/bootstrap-field3-9.html" with f=form.efpconfigoverride %}
{% include "common/form/bootstrap-field3-9.html" with f=form.efpdescription %}
				</fieldset>
				
				<fieldset>
					<legend>Degust</legend>
					
{% include "common/form/bootstrap-field3-9.html" with f=form.degustconfigoverride %}
{% include "common/form/bootstrap-field3-9.html" with f=form.degustdescription %}
				</fieldset>
				
				<fieldset>
					<legend>Samples</legend>
					
					<div class="samples">
						<p><a id="bulk-copy-paste-link" style="cursor: pointer;">Bulk Copy/Paste</a></p>
						{{formset.management_form}}{% for f in formset %}
{% include "common/form/sample-form.html" with form=f %}{% empty %}
{% include "common/form/sample-form.html" with form=formset.empty_form hidden="True" %}{% endfor %}
				    </div>
				</fieldset>
						