						<tr id="id_{{form.prefix}}" class="link-form clearfix"{% if hidden %} style="display:none;"{% endif %}>
							<td>{% for h in form.hidden_fields %}
								{{h}}{% endfor %}
								<input type="hidden" name="{{form.prefix}}-DELETE" id="id_{{form.prefix}}-DELETE" value="" />
								{{form.name}}
							</td>
							<td>
								{{form.link}}
							</td>
							<td>
								{{form.params}}
							</td>
							<td>
								<div class="input-group">
									{{form.coords}}
									<a href="javascript:void(0)" 
									   class="btn btn-default input-group-addon" 
									   title="Select colour from eFP Image"
									   onclick="targetTextID=this.parentElement.parentElement.parentElement.id.substring(4); $('#path-modal').modal('show');"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a>
								</div>
							</td>
							<td>
								<a class="delete-row btn btn-warning input-group-addon" style="max-width: 35px;" href="javascript:void(0)" title="Remove Sample">&times;</a>
							</td>
						</tr>