						<div id="id_{{form.prefix}}" class="link-form row"{% if hidden %} style="display:none;"{% endif %}>{% for h in form.hidden_fields %}
							{{h}}{% endfor %}
							<div class="col-sm-2">
								<input type="hidden" name="{{form.prefix}}-DELETE" id="id_{{form.prefix}}-DELETE" value="" />
								{{form.name}}
							</div>
							<div class="col-sm-4">
								{{form.link}}
							</div>
							<div class="col-sm-1" style="text-align: center;">
								{{form.params}}
							</div>
							<div class="col-sm-4">
								<div class="input-group" id="for_{{form.coords.id_for_label}}">
									{{form.coords}}
									<a href="javascript:void(0)" 
									   class="btn btn-default input-group-addon" 
									   title="Select colour from eFP Image"
									   onclick="targetTextID=this.parentElement.id.substring(4); $('#path-modal').modal('show');"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a>
								</div>
							</div>
							<div class="col-sm-1">
								<a class="delete-row btn btn-warning form-control" href="javascript:void(0)" title="Remove Link">&times;</a>
							</div>
						</div>