						{% for h in form.hidden_fields %}
						{{h}}{% endfor %}
						<div id="id_{{form.prefix}}" class="sample-form clearfix"{% if hidden %} style="display:none;"{% endif %}>
							<input type="hidden" name="{{form.prefix}}-DELETE" id="id_{{form.prefix}}-DELETE" value="" />
							<input type="hidden" name="{{form.prefix}}-ORDER" id="id_{{form.prefix}}-ORDER" value="" />
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon" style="width: auto; text-align: left;"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></span>
										<a class="delete-row btn btn-warning input-group-addon" style="max-width: 35px;" href="javascript:void(0)" title="Remove Sample">&times;</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									{{form.name}}
								</div>
								<div class="col-sm-2">
									<span title="This sample is the control">{{form.is_control}} <label for="{{form.is_control.id_for_label}}"> control</label></span>
								</div>
								<div class="col-sm-4" id="for_{{form.efp_coords.id_for_label}}">
									<div class="input-group">
										{{form.efp_coords}}
										<a href="javascript:void(0)" 
										   class="btn btn-default input-group-addon" 
										   title="Select colour from eFP Image"
										   onclick="targetTextID=this.parentElement.parentElement.id.substring(4); $('#path-modal').modal('show');"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a>
									</div>
								</div>
								<div class="col-sm-3" id="for_{{form.efp_colour.id_for_label}}">
									<div class="input-group">
										{{form.efp_colour}}
										<a href="javascript:void(0)" 
										   class="btn btn-default input-group-addon" 
										   title="Select colour from eFP Image"
										   onclick="targetTextID=this.parentElement.parentElement.id.substring(4); $('#colour-modal').modal('show');"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">{{form.replicates}}</div>
								<div class="col-sm-9">{{form.description}}</div>
							</div>
						</div>