{#% extends 'common/_plain.html' %#}
{% extends "UPDATEABLE_ltu" %}

{% load messages %}
{% load dictutils %}
{% load stringutils %}

{% block 'title' %}
	<title>eFP Browser - La Trobe University RNAseq Database</title>
{% endblock %}

{% block 'breadcrumbs' %} > <a href="{% url 'datasetlist' species.uid %}">{{species.name}}</a> > <a href="{% url 'datasetdetails' species.uid dataset.uid %}">{{dataset.name}}</a> > eFP Browser{% endblock %}

{% block 'content' %}
	<h1>eFP Browser</h1>
	{% rendermessages messages %}
	<p>Some introduction</p>
	
	<div class="efp-form">
		<form action="{% url 'efp:expression' species.uid dataset.uid {{result.primaryGene}} %}" name="efpForm" method="POST" onSubmit="return checkAGIs(this)">{% csrf_token %}
{% include 'efp/search-form.html' %}
		</form>
	</div>
{% if result.error %}
	<div class="efp-errors">
		<ul>{% for row in result.errorStrings %}
			<li class="error">{{row}}</li>{% endfor %}
		</ul>
	</div>{% endif %}
	
{% if alertStrings|len > 0 %}
    <ul>{% for row in alertStrings %}
        <li>{{row}}</li>{% endfor %}
    </ul>{% endif %}

{# ##----------------------check external services----------------------------------------------------------------- #}

    <div class="efp-ext-links">{% for s in services %}
        {% if s.highlight1 == 'error' or s.highlight2 == 'error' %}
            <img title="connection error for service {{s.name}}" 
            		width="50" height="50" alt="connection error" 
            		src="{{conf.dataDirWeb}}/error.png">
        {% elif not link %}
            <img title="No {{s.name}} data found" 
            		width="50" height="50" alt="No {{s.name}} data found" 
            		style="opacity:0.30;filter:alpha(opacity=30);" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
        {% elif link %}
            {% if external == "true" %}
            <a target="_blank" title="{{s.name}} gene {{s.gene}}" href="{{s.link}}">
           		<img width="50" height="50" alt="{{s.name}} gene {{s.gene}}" 
           			src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </a>
            {% else %}
            <a target="_blank" title="{{s.name}} for gene {{s.gene}}" href="{{s.link}}">
            	<img width="50" height="50" alt="{{s.name}} for gene {{s.gene}}" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </a>
            {% endif %}
        {% else %}
           	<img target="_blank" title="{{s.name}} found for gene {{s.gene}}" 
            		width="50" height="50" alt="{{s.name}} found for {{s.gene}}" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
        {% endif %}{% endfor %}
    </div>

	{# ##----------------------print the image---------------------------------------------------- #}
    {% for v in result.views_proc %}
	<div class="efp-image efp-image-expression">
		<img src="{{v.imgFileWeb}}" border="0"
        {% if v.imgMap %}
            usemap="#imgmap_{{v.view_name}}" />
            {{v.imgMap|safe}}
        {% else %}
            />
        {% endif %}
	</div>
        {# Creates Button and Link to Page for Table of Expression Values #}
	<div class="efp-buttons">
        <input type="button" name="expressiontable" value="Click Here for Table of Expression Values" onclick="resizeIframe(\'ifr{{v.view_no}}\', ifr{{v.view_no}});popup(\'table{{v.view_no}}\', \'fadein\', \'center\', 0, 1)">&nbsp;&nbsp;
        <input type="button" name="expressionchart" value="Click Here for Chart of Expression Values" onclick="popup(\'chart{{v.view_no}}\', \'fadein\', \'center\', 0, 1)">
        <script type="text/javascript">
        loadPopup('table{{v.view_no}}','<span style="color:#000000"><b>For table download right click <a href="{{v.tableFile_name}}">here</a> and select "Save Link As ..."</b></span>\n' +
	        	'<div class="closewin_text">\n' +
	        	'<a href="" onclick="popdown(\\\'table{{v.view_no}}\\\');return false;">\n' +
	        	'<span style="color:#000000">[Close]</span></a><br><br>\n' +
	        	'<a href="" onclick="switchPopup(\\\'table{{v.view_no}}\\\', \\\'chart{{v.view_no}}\\\');return false;">\n' +
	        	'<span style="color:#000000">[Switch to<br> Chart]</span></a></div>\n' +
	        	'<div class="chart"><iframe id="ifr{{v.view_no}}" name="ifr{{v.view_no}}" width=900 frameborder=0 src="{{v.tableFile_name}}">\n' +
	        	'Your browser doesn\\\'t support iframes. Please use link above to open expression table</iframe></div>\n',
        	'{{v.bg_color}}',{{v.popup_width}});

        loadPopup('chart%d', '<div class="closewin_text">\n' +
                '<a href="" onclick="popdown(\\\'chart{{v.view_no}}\\\');return false;">\n' +
                '<span style="color:#000000">[Close]</span></a><br><br>\n' +
                '<a href="" onclick="resizeIframe(\\\'ifr{{v.view_no}}\\\', ifr{{v.view_no}});switchPopup(\\\'chart{{v.view_no}}\\\', \\\'table{{v.view_no}}\\\');return false;">\n' +
                '<span style="color:#000000">[Switch to<br>Table]</span></a><br><br>\n' +
                '<a href="" onclick="zoomElement(\\\'image{{v.view_no}}\\\', 0.1);return false;">\n' +
                '<span style="color:#000000">[Zoom +]</span></a><br>\n' +
                '<a href="" onclick="zoomElement(\\\'image{{v.view_no}}\\\', -0.1);return false;">\n' +
                '<span style="color:#000000">[Zoom -]</span></a><br>\n' +
                '<a href="" onclick="zoomElement(\\\'image{{v.view_no}}\\\', 0);return false;">\n' +
                '<span style="color:#000000">[Reset<br>zoom]</span></a></div>\n' +
                '<div class="chart"><img id="image{{v.view_no}}" height="580px" src="{{v.tableChart_name}}"><br></div>\n',
        	'{{v.bg_color}}',{{v.popup_width}});" % (view_no, popup_content, bg_color, popup_width)
        </script>
	</div>
    {% endfor %}
    <div class="efp-annotation"><ul>
      <li>{{result.gene1.getProbeSetId}} was used as the probe set identifier for your primary gene, {{result.gene1.getGeneId}} ({{result.gene1.getAnnotation}})</li>
    {% if mode == 'Compare' %}
      <li>{{result.gene2.getProbeSetId}} was used as the probe set identifier for the secondary gene, {{result.gene2.getGeneId}} ({{result.gene2.getAnnotation}})</li>
    {% endif %}
      </ul>
    {% if dataSource in efpConfig.datasourceFooter %}
        {{efpConfig.datasourceFooter|dictlookup:dataSource}}
    {% else %}
        {{efpConfig.datasourceFooter.default}}
    {% endif %}
    </div>

{% endblock %}
