{% extends collection.get_template %}

{% load landing %}
{% load messages %}
{% load dictutils %}
{% load static from staticfiles %}
{% load stringutils %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<script type="text/javascript" src="{{conf.STATIC_FILES_WEB}}/efp.js"></script>
	<script type="text/javascript">
	    regId = /{{conf.inputRegEx}}/i;
	</script>

	<link rel="stylesheet" href="{% static 'efpbrowser/base.css' %}"  />
	<h1>{{settings.EFP_COMMON_NAME}}{% if result.primaryGene and result.mode != None and result.error == 0 and result.services != None %}: {{result.primaryGene}}{% endif %}</h1>
	{% rendermessages messages %}
	<div class="efp-description">{{dataset.efpdescription|markdown|safe}}</div>{% if result.primaryGene and extlink.url %}
	<div><span class="keyword-name">External Links</span> <a href="{{extlink.url}}" title="Open feature in {{extlink.label}}">[{{extlink.label}}]</a></div>{% endif %}
	<div class="efp-form">
		<form action="{% url 'efp:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}" name="efpForm" method="POST" onSubmit="return checkAGIs(this)">{% csrf_token %}
{% include 'efp/search-form.html' %}
		</form>
	</div>
	
{% if result.error %}
	<div class="efp-errors">
		<ul>{% for row in result.errorStrings %}
			<li class="error">{{row}}</li>{% endfor %}
		</ul>
	</div>{% endif %}
	


{% if alertStrings|len > 0 %}
    <ul>{% for row in alertStrings %}
        <li>{{row}}</li>{% endfor %}
    </ul>{% endif %}

{# ##----------------------check external services----------------------------------------------------------------- #}
{% if result.mode != None and result.error == 0 and result.services != None %}
    <div class="efp-ext-links">{% for s in services %}
        {% if s.highlight1 == 'error' or s.highlight2 == 'error' %}
            <img title="connection error for service {{s.name}}" 
            		width="50" height="50" alt="connection error" 
            		src="{{conf.dataDirWeb}}/error.png">
        {% elif not link %}
            <img title="No {{s.name}} data found" 
            		width="50" height="50" alt="No {{s.name}} data found" 
            		style="opacity:0.30;filter:alpha(opacity=30);" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
        {% elif link %}
            {% if external == "true" %}
            <a target="_blank" title="{{s.name}} gene {{s.gene}}" href="{{s.link}}">
           		<img width="50" height="50" alt="{{s.name}} gene {{s.gene}}" 
           			src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </a>
            {% else %}
            <a target="_blank" title="{{s.name}} for gene {{s.gene}}" href="{{s.link}}">
            	<img width="50" height="50" alt="{{s.name}} for gene {{s.gene}}" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </a>
            {% endif %}
        {% else %}
           	<img target="_blank" title="{{s.name}} found for gene {{s.gene}}" 
            		width="50" height="50" alt="{{s.name}} found for {{s.gene}}" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
        {% endif %}{% endfor %}
    </div>

	{# ##----------------------print the image---------------------------------------------------- #}
    {% for v in result.views_proc %}
	<div class="efp-image efp-image-expression">
		<img src="{{v.imgFileWeb}}" border="0"
        {% if v.imgMap %}
            usemap="#imgmap_{{v.view_name}}" />
            {{v.imgMap|safe}}
        {% else %}
            />
        {% endif %}
	</div>
        {# Creates Button and Link to Page for Table of Expression Values #}
	<div class="efp-buttons">
        <input type="button" name="expressiontable" value="Table of Expression Values" onclick="$('#table{{v.view_no}}').dialog('open');">&nbsp;&nbsp;
        <input type="button" name="expressionchart" value="Chart of Expression Values" onclick="$('#chart{{v.view_no}}').dialog('open');">&nbsp;&nbsp;
        <!-- <input type="button" name="expressionimage" value="Download Image" onclick=""> -->
	</div>
    {% endfor %}
    <div class="efp-annotation"><ul>
      <li>{{result.gene1.getProbeSetId}} was used as the probe set identifier for your primary gene, {{result.gene1.getGeneId}} ({{result.gene1.getAnnotation}})</li>
    {% if mode == 'Compare' %}
      <li>{{result.gene2.getProbeSetId}} was used as the probe set identifier for the secondary gene, {{result.gene2.getGeneId}} ({{result.gene2.getAnnotation}})</li>
    {% endif %}
      </ul>
    {% if dataSource in efpConfig.datasourceFooter %}
        {{efpConfig.datasourceFooter|dictlookup:dataSource}}
    {% else %}
        {{efpConfig.datasourceFooter.default}}
    {% endif %}
    </div>

{% else %}

	<div class="efp-image efp-image-default">
		<img src="{{result.defaultImgFilename}}" border="0">
	</div>

{% endif %}
	<p class="powered-by">Powered by eFP Browser</p>
{% endblock %}

{% block 'dialog' %}
{% for v in result.views_proc %}
        <div id="table{{v.view_no}}" title="Tabular expression data">
        	<span style="color:#000000"><b>For table download right click <a href="{{v.tableFile_name}}">here</a> and select "Save Link As ..."</b></span>
			<div class="chart">
				<iframe id="ifr{{v.view_no}}" name="ifr{{v.view_no}}" width=900 frameborder=0 src="{{v.tableFile_name}}">
					Your browser doesn't support iframes. Please use link above to open expression table
				</iframe>
			</div>
		</div>
		
        <div id="chart{{v.view_no}}" title="Expression chart">
			<div class="chart">
				<img id="image{{v.view_no}}" height="580px" src="{{v.tableChart_name}}">
			</div>
		</div>
{% endfor %}
{% endblock %}

{% block 'footerjs' %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script>
	$( function() { {% for v in result.views_proc %}
		$( "#table{{v.view_no}}" ).dialog({ autoOpen: false, minWidth: {{v.popup_width}} });
		$( "#chart{{v.view_no}}" ).dialog({ autoOpen: false, minWidth: {{v.popup_width}} });{% endfor %}
	} );
	</script>
{% endblock %}

