{#% extends 'common/_plain.html' %#}
{% extends "UPDATEABLE_ltu" %}

{% load messages %}
{% load dictutils %}
{% load stringutils %}

{% block 'title' %}
	<title>eFP Browser - La Trobe University RNAseq Database</title>
{% endblock %}

{% block 'breadcrumbs' %} > <a href="{% url 'datasetlist' species.uid %}">{{species.name}}</a> > <a href="{% url 'datasetdetails' species.uid dataset.uid %}">{{dataset.name}}</a> > eFP Browser{% endblock %}

{% block 'content' %}
	<h1>eFP Browser</h1>
	{% rendermessages messages %}
	<p>Some introduction</p>
	
	<table width="788" border="0" align="center" cellspacing="1" cellpadding="0">
	<tr><td>
	<form action="{% url 'efp:home' species.uid dataset.uid %}" name="efpForm" method="POST" onSubmit="return checkAGIs(this)">{% csrf_token %}
    <table>
      <tr align = "center"><th>Data Source</th>
      <th>Mode
<input type="checkbox" name="modeMask_stddev" title="In Absolute Mode, check to mask samples that exhibit a standard deviation of more than 50 percent of the signal value" 
{% if result.grey_stddev == "on" %} checked="checked" value="on" {% endif %} />
<input type="checkbox" name="modeMask_low" title="In Relative Mode, check to mask the use of low expression values in ratio calculations"
{% if result.grey_low == "on" %} checked="checked" value="on" {% endif %} />
</th><th><a href="http://ricedb.plantenergy.uwa.edu.au/" target=_new title="Convert IDs to LOC_Os identifiers using the RiceDB tool at the University of Western Australia">Primary Gene ID</a></th><th><a href="http://ricedb.plantenergy.uwa.edu.au/" target=_new title="Convert IDs to LOC_Os identifiers using the RiceDB tool at the University of Western Australia">Secondary Gene ID</a></th>
      <th id="t1">Signal Threshold<input type="checkbox" name="override" title="Check to enable threshold" onclick="checkboxClicked(this.form)"
{% if result.useThreshold == "on" %} checked="checked" value="on" {% endif %} />
</th><th></th></tr>
      <tr><td>
      <img src="http://142.150.215.220/affydb/help.gif" border=0 align="top" alt="Click here for instructions in a new window" onClick="HelpWin = window.open(\'http://142.150.215.220/affydb/BAR_instructions.html#efp\', \'HelpWindow\', \'width=600,height=300,scrollbars,resizable=yes\'); HelpWin.focus();">&nbsp;

{# Build drop down list of Data Sources #}
{% if result.mode == None %}
    <select name="dataSource" onchange="location.href=\'{% url 'efp:home' species.uid dataset.uid %}?dataSource=\' + this.options[this.selectedIndex].value ;">
{% elif useThreshold == None %}
    <select name="dataSource" onchange="location.href=\'{% url 'efp:home' species.uid dataset.uid %}?dataSource=\' + this.options[this.selectedIndex].value + \'&modeInput={{result.mode}}&primaryGene={{result.primaryGene}}&secondaryGene={{result.secondaryGene}}&override=&threshold={{result.threshold}}&modeMask_low={{result.grey_low}}&modeMask_stddev={{result.grey_stddev}}\' ;">
{% else %}
    <select name="dataSource" onchange="location.href=\'{% url 'efp:home' species.uid dataset.uid %}?dataSource=\' + this.options[this.selectedIndex].value + \'&modeInput={{result.mode}}&primaryGene={{result.primaryGene}}&secondaryGene={{result.secondaryGene}}&override={{result.useThreshold}}&threshold={{result.threshold}}&modeMask_low={{result.grey_low}}&modeMask_stddev={{result.grey_stddev}}\' ;">
{% endif %} {% for d in result.datasources %}
        <option value="{{d.0}}"{% if result.dataSource == d.0 %} selected="selected"{% endif %}>{{d.1}}</option>{% endfor %}
      </select></td>
{# Build drop down list of modes #}
{% if result.mode == None %}
      <td><select selected="Absolute" name="modeInput" onchange="changeMode(this.form)">
{% else %}
		 <td><select selected="Absolute" name="modeInput" onchange="location.href=\'{% url 'efp:home' species.uid dataset.uid %}?dataSource={{result.dataSource}}&modeInput=\' + this.options[this.selectedIndex].text + \'&primaryGene={{result.primaryGene}}&secondaryGene={{result.secondaryGene}}&modeMask_low={{result.grey_low}}&modeMask_stddev={{result.grey_stddev}}\' ">
{% endif %}
{# Preserve mode between form submits. If the user selected 'Compare' as his/her #}
{# mode, when the page reloads, the list should still have 'Compare' selected. #}
{% if result.mode == 'Relative' %}
    <option>Absolute</option>
    <option selected>Relative</option>
    {% if result.dataSource != "rice_leaf_gradient" and result.dataSource != "rice_maize_comparison" %}
    <option>Compare</option>{% endif %}
{% elif result.mode == 'Compare' %}
    <option>Absolute</option>
    <option>Relative</option>
    <option selected>Compare</option>
{% else %}{# Default (Absolute) #}
    <option selected>Absolute</option>
    <option>Relative</option>
    {% if result.dataSource != "rice_leaf_gradient" and dataSource != "rice_maize_comparison" %}
    <option>Compare</option>{% endif %}
{% endif %}
      </select></td><td>
      <input type="text" id="g1" name="primaryGene" value="{{result.primaryGene}}" size=17/></td><td>
      <input type="text" id="g2" name="secondaryGene" size=17 value="{{result.secondaryGene}}" 
{% if result.mode != 'Compare' or result.dataSource == "rice_leaf_gradient" and result.dataSource == "rice_maize_comparison" %}
	disabled="disabled" {% endif %}/></td><td>

      <input type="text" id="t0" name="threshold" value="{{result.threshold}}" 
{% if result.useThreshold == None %}
    disabled="disabled" {% endif %}
/></td>
<td><input type="submit" value="Go"/></td></tr>
</table>
</form>
</td></tr>

<tr><td>

{% if result.error %}
    <ul>{% for row in result.errorStrings %}
        <li class="error">{{row}}</li>{% endfor %}
    </ul>{% endif %}

{###----------------------print orthologs-----------------------------------------------------------------#}
{% for spec in orthologStrings %}
    {% if orthologStrings|dictlookup:spec|len > 0 %}
    <p class="expanded"> Links to %s Orthologs in %s eFP Browser </p>' % (efpConfig.spec_names[spec], efpConfig.spec_names[spec])
    
    <div>
        <p>Orthologs have been ranked based on Spearman Correlation Coefficient (SCC) value. Values are 
        	given for each ortholog.Note that these rankings are to be used at the users discretion, as 
        	expression profiles were compared using limited data points.</p>
    
        <ul>{% for row in orthologStrings|dictlookup:spec %}
            <li>{{row}}</li>{% endfor %}
        </ul>
    </div>
    {% endif %}
{% endfor %}

{% if testalertStrings|len > 0 %}
    <ul>{% for row in testalertStrings %}
        <li>{{row}}</li>{% endfor %}
    </ul>
{% endif %}

{# print additional header text if configured for selected data source #}
{% if dataSource in efpConfig.datasourceHeader %}
    {{efpConfig.datasourceHeader|dictlookup:dataSource}}
{% elif 'default' in efpConfig.datasourceHeader %}
    {{efpConfig.datasourceHeader.default}}
{% endif %}

{% if alertStrings|len > 0 %}
    <ul>{% for row in alertStrings %}
        <li>{{row}}</li>{% endfor %}
    </ul>{% endif %}

{# ##----------------------check external services----------------------------------------------------------------- #}
{% if result.mode != None and result.error == 0 and result.services %}
    <table style="margin-left:auto; margin-right:0;"><tr>{% for s in services %}
        {% if s.highlight1 == 'error' or s.highlight2 == 'error' %}
            <td>
            	<img title="connection error for service {{s.name}}" 
            		width="50" height="50" alt="connection error" 
            		src="{{conf.dataDirWeb}}/error.png">
            </td>
        {% elif not link %}
            <td>
            	<img title="No {{s.name}} data found" 
            		width="50" height="50" alt="No {{s.name}} data found" 
            		style="opacity:0.30;filter:alpha(opacity=30);" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </td>
        {% elif link %}
            {% if external == "true" %}
            <td><a target="_blank" title="{{s.name}} gene {{s.gene}}" href="{{s.link}}">
           		<img width="50" height="50" alt="{{s.name}} gene {{s.gene}}" 
           			src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </a></td>
            {% else %}
            <td><a target="_blank" title="{{s.name}} for gene {{s.gene}}" href="{{s.link}}">
            	<img width="50" height="50" alt="{{s.name}} for gene {{s.gene}}" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </a></td>
            {% endif %}
        {% else %}
            <td>
            	<img target="_blank" title="{{s.name}} found for gene {{s.gene}}" 
            		width="50" height="50" alt="{{s.name}} found for {{s.gene}}" 
            		src="{{conf.dataDirWeb}}/{{s.service.icon}}">
            </td>
        {% endif %}{% endfor %}
    </tr></table>

	{# ##----------------------print the image---------------------------------------------------- #}
    {% for v in result.views_proc %}
        <tr><td>
          <img src="{{v.imgFileWeb}}" border="0"
        {% if v.imgMap %}
            usemap="#imgmap_{{v.view_name}}" />
            {{v.imgMap|safe}}
        {% else %}
            />
        {% endif %}
        </td></tr>
        {# Creates Button and Link to Page for Table of Expression Values #}
        <tr align="center"><td><br>
        <input type="button" name="expressiontable" value="Click Here for Table of Expression Values" onclick="resizeIframe(\'ifr{{v.view_no}}\', ifr{{v.view_no}});popup(\'table{{v.view_no}}\', \'fadein\', \'center\', 0, 1)">&nbsp;&nbsp;
        <input type="button" name="expressionchart" value="Click Here for Chart of Expression Values" onclick="popup(\'chart{{v.view_no}}\', \'fadein\', \'center\', 0, 1)">
        <script type="text/javascript">
        loadPopup('table{{v.view_no}}','<span style="color:#000000"><b>For table download right click <a href="{{v.tableFile_name}}">here</a> and select "Save Link As ..."</b></span>\n' +
	        	'<div class="closewin_text">\n' +
	        	'<a href="" onclick="popdown(\\\'table{{v.view_no}}\\\');return false;">\n' +
	        	'<span style="color:#000000">[Close]</span></a><br><br>\n' +
	        	'<a href="" onclick="switchPopup(\\\'table{{v.view_no}}\\\', \\\'chart{{v.view_no}}\\\');return false;">\n' +
	        	'<span style="color:#000000">[Switch to<br> Chart]</span></a></div>\n' +
	        	'<div class="chart"><iframe id="ifr{{v.view_no}}" name="ifr{{v.view_no}}" width=900 frameborder=0 src="{{v.tableFile_name}}">\n' +
	        	'Your browser doesn\\\'t support iframes. Please use link above to open expression table</iframe></div>\n',
        	'{{v.bg_color}}',{{v.popup_width}});

        loadPopup('chart%d', '<div class="closewin_text">\n' +
                '<a href="" onclick="popdown(\\\'chart{{v.view_no}}\\\');return false;">\n' +
                '<span style="color:#000000">[Close]</span></a><br><br>\n' +
                '<a href="" onclick="resizeIframe(\\\'ifr{{v.view_no}}\\\', ifr{{v.view_no}});switchPopup(\\\'chart{{v.view_no}}\\\', \\\'table{{v.view_no}}\\\');return false;">\n' +
                '<span style="color:#000000">[Switch to<br>Table]</span></a><br><br>\n' +
                '<a href="" onclick="zoomElement(\\\'image{{v.view_no}}\\\', 0.1);return false;">\n' +
                '<span style="color:#000000">[Zoom +]</span></a><br>\n' +
                '<a href="" onclick="zoomElement(\\\'image{{v.view_no}}\\\', -0.1);return false;">\n' +
                '<span style="color:#000000">[Zoom -]</span></a><br>\n' +
                '<a href="" onclick="zoomElement(\\\'image{{v.view_no}}\\\', 0);return false;">\n' +
                '<span style="color:#000000">[Reset<br>zoom]</span></a></div>\n' +
                '<div class="chart"><img id="image{{v.view_no}}" height="580px" src="{{v.tableChart_name}}"><br></div>\n',
        	'{{v.bg_color}}',{{v.popup_width}});" % (view_no, popup_content, bg_color, popup_width)
        </script>
        <br></td></tr>
    {% endfor %}
    <tr><td><br><ul>
      <li>{{result.gene1.getProbeSetId}} was used as the probe set identifier for your primary gene, {{result.gene1.getGeneId}} ({{result.gene1.getAnnotation}})</li>
    {% if mode == 'Compare' %}
      <li>{{result.gene2.getProbeSetId}} was used as the probe set identifier for the secondary gene, {{result.gene2.getGeneId}} ({{result.gene2.getAnnotation}})</li>
    {% endif %}
      </ul>
    {% if dataSource in efpConfig.datasourceFooter %}
        {{efpConfig.datasourceFooter|dictlookup:dataSource}}
    {% else %}
        {{efpConfig.datasourceFooter.default}}
    {% endif %}
    </td></tr>
{% else %}
  <img src="{{result.defaultImgFilename}}" border="0">
{% endif %}
</table>

{% endblock %}
