
		    <table>
		    	<tr align = "center">
		      <!-- <th>Data Source</th> -->
					<th>Mode
						<input type="checkbox" name="modeMask_stddev" title="In Absolute Mode, check to mask samples that exhibit a standard deviation of more than 50 percent of the signal value" 
		{% if result.grey_stddev == "on" %} checked="checked" value="on" {% endif %} />
						<input type="checkbox" name="modeMask_low" title="In Relative Mode, check to mask the use of low expression values in ratio calculations"
		{% if result.grey_low == "on" %} checked="checked" value="on" {% endif %} />
					</th>
					<th>Primary Gene ID</th>
					<th>Secondary Gene ID</th>
		      		<th id="t1">Signal Threshold <input id="th1" type="checkbox" name="override" title="Check to enable threshold"
							{% if result.useThreshold == "on" %} checked="checked" {% endif %} value="on" />
					</th>
				</tr>
		
				<tr>
					<!-- <td>
						<img src="http://142.150.215.220/affydb/help.gif" border=0 align="top" alt="Click here for instructions in a new window" onClick="HelpWin = window.open(\'http://142.150.215.220/affydb/BAR_instructions.html#efp\', \'HelpWindow\', \'width=600,height=300,scrollbars,resizable=yes\'); HelpWin.focus();">&nbsp;
		
		{# Build drop down list of Data Sources #}
		{% if result.mode == None %}
		    <select name="dataSource" onchange="location.href=\'{% url 'efp:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}?dataSource=\' + this.options[this.selectedIndex].value ;">
		{% elif useThreshold == None %}
		    <select name="dataSource" onchange="location.href=\'{% url 'efp:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}?dataSource=\' + this.options[this.selectedIndex].value + \'&modeInput={{result.mode}}&primaryGene={{result.primaryGene}}&secondaryGene={{result.secondaryGene}}&override=&threshold={{result.threshold}}&modeMask_low={{result.grey_low}}&modeMask_stddev={{result.grey_stddev}}\' ;">
		{% else %}
		    <select name="dataSource" onchange="location.href=\'{% url 'efp:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}?dataSource=\' + this.options[this.selectedIndex].value + \'&modeInput={{result.mode}}&primaryGene={{result.primaryGene}}&secondaryGene={{result.secondaryGene}}&override={{result.useThreshold}}&threshold={{result.threshold}}&modeMask_low={{result.grey_low}}&modeMask_stddev={{result.grey_stddev}}\' ;">
		{% endif %} {% for d in result.datasources %}
		        <option value="{{d.0}}"{% if result.dataSource == d.0 %} selected="selected"{% endif %}>{{d.1}}</option>{% endfor %}
		      </select></td> -->
		     
					<td>
						<select id="mode" selected="Absolute" name="modeInput">
							<option>Absolute</option>
							<option{% if result.mode == 'Relative' %} selected="selected"{% endif %}>Relative</option>{% if result.dataSource != "rice_leaf_gradient" and result.dataSource != "rice_maize_comparison" %}
							<option{% if result.mode == 'Compare' %} selected="selected"{% endif %}>Compare</option>{% endif %}
						</select>
					</td>
					<td>
						<input type="text" id="g1" name="primaryGene" value="{{result.primaryGene}}" size=17/></td><td>
						<input type="text" id="g2" name="secondaryGene" size=17 value="{{result.secondaryGene}}" {% if result.mode != 'Compare' %}
							disabled="disabled" {% endif %}/>
					</td>
					<td>
						<input type="text" id="t0" name="threshold" value="{{result.threshold}}" {% if result.useThreshold == None %}
							disabled="disabled" {% endif %}/>
					</td>
				</tr>
			</table>{% if dataset.efpdownimage %}
			<input id="download-btn" style="background-color: #242424;" type="submit" value="Download" title="Download a higher resolution expression image" /> {% endif %}
			<input id="view-btn" type="submit" value="View" title="View expression image on screen" />
			<input id="qual-hidden" type="hidden" name="qual" value="view" />
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script>
			$(function() {
				$('#mode').change(function() {
					$('#g2').prop('disabled', $( this ).val() != 'Compare');
				});
				$('#th1').change(function() {
					$('#t0').prop('disabled', $('#th1').attr('checked') != 'checked');
				});{% if dataset.efpdownimage %}
				$('#download-btn').click(function() {
					$('#qual-hidden').val('down');
				});{% endif %}
				$('#view-btn').click(function() {
					$('#qual-hidden').val('view');
				});
			});
			</script>
		