img.colour-picker {cursor: crosshair;}

.grip-handle {background: #F9F9F9;}

div.row {margin-top: 5px; margin-bottom: 5px;}
div.sample-form {margin-bottom: 10px;}
div.textonly-row {margin-top: 6px; margin-bottom: 6px;}
div.help-text {font-size: 12px; color: #999; font-style: italic; margin: 2px 5px;}

div.col-sm-1,
div.col-sm-2,
div.col-sm-3,
div.col-sm-4,
div.col-sm-5,
div.col-sm-6,
div.col-sm-7,
div.col-sm-8,
div.col-sm-9,
div.col-sm-10,
div.col-sm-11,
div.col-sm-12 {min-height: 34px; vertical-align: middle;}

span.input-group-addon.label80 {min-width: 80px; text-align: right;}

textarea.short, select.short {height: 90px;}
textarea.medium, select.medium {height: 140px;}

table.formset {width: 100%;}

div.strikethrough div {text-decoration: line-through;}

div.large-btn-row {min-height: 46px; vertical-align: middle;}
div.large-btn-row p {margin: 13px 0;}

ul#id_domain {margin: 0; margin-top: 6px; list-style: none; padding: 0;}
ul#id_domain input {margin: 0 5px;}

.status.OK {background: green; color: white; font-weight: bold;}
.status.WARNING {background: orange;}
.status.ERROR {background: red; color: white; font-weight: bold;}
