{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load static from staticfiles %}
{% load stringutils %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > <a href="{% url 'ptadmin:listgroup' %}">User Groups</a> > New{% endblock %}

{% block 'content' %}
			<h1>Colour Chart</h1>
{% rendermessages messages %}
		
			<form action="" method="post" class="form-horizontal">
			    {% csrf_token %}
			    
			    <div class="form-group">
					<label for="table" class="col-sm-2 control-label">Colour TSV</label>
					<div class="col-sm-10">
						<textarea id="table" name="table" class="form-control" style="min-height: 150px;">{{current}}</textarea>
						<div class="help-text">Paste tab-delim table with two columns (label, colour) with no headings</div>
					</div>
				</div>
					    
			    <div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-2">
			    		<input type="submit" class="btn btn-success btn-block" value="Update" />
			    	</div>
			    </div>
			</form>{% if colours %}
			
			<table style="border: 1px solid black; min-width: 100px;">{% for r in colours %}
			<tr>
				<td style="background: {{r.1}}; border: 1px solid black; padding: 0 3px;">{{r.0}}</td>
			</tr>{% endfor %}
			</table>{% endif %}
{% endblock %}

