{% extends 'portaladmin/_base.html' %}

{% load dateutils %}
{% load messages %}
{% load static from staticfiles %}
{% load stringutils %}

{% block 'headercss' %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'lib/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > <a href="{% url 'ptadmin:listdataset' %}">Data-sets</a> > Edit Dataset Settings{% endblock %}

{% block 'content' %}
			<h1>Edit Dataset Settings</h1>
{% rendermessages messages %}

			<form action="{% url 'ptadmin:editdataset' dataset.uid %}" method="post" class="form-horizontal">
				{% csrf_token %}
{% include "common/form/dataset-form.html" with form=form %}
		
			    <fieldset>
					<legend>Data preview</legend>
					
					<table class="dataset-sample col-sm-12">
				    	<tr>{% for h in datasetdetails.columns %}
				    		<th>{{h}}</th>{% endfor %}
				    	</tr>{% for row in datasetdetails.sample %}
				    	<tr>{% for v in row %}
				    		<td>{{v}}</td>{% endfor %}
				    	</tr>{% endfor %}
				    </table>
				</fieldset>
				
				<hr />
				
				<div class="row end-space">
					<div class="col-sm-3">
			    		<input type="submit" class="btn btn-success col-sm-12" value="Save" />
			    	</div>
			    </div>
			</form>
{% endblock %}

{% block 'dialog' %}

	<div id="colour-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="min-width: 840px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Select colour ...</h4>
				</div>
				<div class="modal-body">
					<p>Click image to select colour for your sample</p>
					<p>Colour: <span id="colour-swatch" style="display:inline-block; width: 16px; height: 16px; border: 1px solid grey;"></span> <span id="colour-code" style="font-face: courier;">--</span></p>
					<p><img id="picker-image" class="colour-picker" src="{% url 'ptadmin:efpimage' dataset.uid %}" /></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="position-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="min-width: 840px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Select position ...</h4>
				</div>
				<div class="modal-body">
					<p>Click image to select the location required</p>
					<p style="display:inline-block; width: 140px;">Colour: <span id="colour-swatch-pos" style="display:inline-block; width: 16px; height: 16px; border: 1px solid grey;"></span> <span id="colour-code-pos" style="font-face: courier;">--</span></p>
					<p style="display:inline-block; width: 100px;">X: <span id="x-pos">0</span></p>
					<p style="display:inline-block; width: 100px;">Y: <span id="y-pos">0</span></p>
					<p><img id="position-image" class="colour-picker" src="{% url 'ptadmin:efpimage' dataset.uid %}" /></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="path-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="min-width: 840px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Select position ...</h4>
				</div>
				<div class="modal-body">
					<p>Click multiple times to form a polygon around sample's expression image.  Update to save changes.</p>
					<p style="display:inline-block; width: 140px;">Colour: <span id="colour-swatch-path" style="display:inline-block; width: 16px; height: 16px; border: 1px solid grey;"></span> <span id="colour-code-path" style="font-face: courier;">--</span></p>
					<p style="display:inline-block; width: 100px;">X: <span id="x-path">0</span></p>
					<p style="display:inline-block; width: 100px;">Y: <span id="y-path">0</span></p>
					<p><input id="pathformatted" style="width:100%" placeholder="Current path coordinates. Clear to start again." title="Current path coordinates. Clear to start again." /></p>
					<p><img id="path-image" class="colour-picker" src="{% url 'ptadmin:efpimage' dataset.uid %}" /></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger col-sm-1" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success col-sm-1" data-dismiss="modal" id="path-update">Update</button>
				</div>
			</div>
		</div>
	</div>
	<div id="bulk-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="min-width: 840px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Bulk sample configuration</h4>
				</div>
				<div class="modal-body">
					<textarea id="bulk-config" style="width: 100%; min-height: 200px;"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger col-sm-1" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success col-sm-1" data-dismiss="modal" id="bulk-update">Update</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block 'footerjs' %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'lib/jquery.formset.js' %}"></script>
	<script src="{% static 'lib/moment.min.js' %}"></script>
	<script src="{% static 'lib/bootstrap-datetimepicker.min.js' %}"></script>

	<script>
	function hex(d) {
	    return  ("0"+(d.toString(16))).slice(-2).toUpperCase()
	}
	
	var targetTextID = null;
	
	function getColour(e) {
		// Gets the HTML colour under the mouse pointer on image
    	if(!this.canvas) {
    		var img = $('#picker-image')[0]
            canvas = $('<canvas />')[0];
            canvas.width = img.width;
            canvas.height = img.height;
            canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height);
        }
        var pixelData = canvas.getContext('2d').getImageData(e.offsetX, e.offsetY, 1, 1).data;
        return '#' + hex(pixelData[0]) + hex(pixelData[1]) + hex(pixelData[2]);
	}
	
	$(function() {
		// setup mouse move and click events to show/select colour
	    $('#picker-image').mousemove(function(e) {
    		var colour = getColour(e);
	        $('#colour-code').html(colour);
	        $('#colour-swatch').css('background', colour);
	    }).click(function(e) {
	    	if (targetTextID) {
	    		var colour = getColour(e);
	    		$('#'+targetTextID).val(colour).focus();
	    	}
	    	$('#colour-modal').modal('hide');
	    });
		// setup mouse move and click events to show/select colour/position
	    $('#position-image').mousemove(function(e) {
    		var colour = getColour(e);
	        $('#colour-code-pos').html(colour);
	        $('#colour-swatch-pos').css('background', colour);
	        $('#x-pos').html(e.offsetX)
	        $('#y-pos').html(e.offsetY)
	    }).click(function(e) {
	    	if (targetTextID) {
	    		$('#'+targetTextID[0]).val(e.offsetY);
	    		$('#'+targetTextID[1]).val(e.offsetX).focus();
	    	}
	    	$('#position-modal').modal('hide');
	    });
		// setup mouse move and click events to show/select colour/position
	    $('#path-image').mousemove(function(e) {
    		var colour = getColour(e);
	        $('#colour-code-path').html(colour);
	        $('#colour-swatch-path').css('background', colour);
	        $('#x-path').html(e.offsetX)
	        $('#y-path').html(e.offsetY)
	    }).click(function(e) {
	    	var path = $('#pathformatted');
    		if (path.val())
    			path.val(path.val()+','+e.offsetX+','+e.offsetY);
    		else
    			path.val(e.offsetX+','+e.offsetY);
	    });
		$('#path-update').click(function(e) {
			if (targetTextID) {
				$('#'+targetTextID).val($('#pathformatted').val());
			}
		});
		$('#path-modal').on('show.bs.modal', function (e) {
			$('#pathformatted').val('');
		})
	    
		// make modal dialog
	    /*$( "#colour-dialog" ).dialog({
	    	autoOpen: false,
	        width: 816,
			modal: true,
			buttons: {
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
	    });*/
	    
		// Sample add/delete
        $('div.sample-form').formset({
        	deleteText: '',
        	addText: '+ Add Sample',
        	addCssClass: 'btn btn-default col-sm-12',
        	prefix: '{{formset.prefix}}',
        	formCssClass: 'sample-form',
        });
	    
		// Link add/delete
        $('div.link-form').formset({
        	deleteText: '',
        	addText: '+ Add Link',
        	addCssClass: 'btn btn-default col-sm-12',
        	prefix: '{{linkformset.prefix}}',
        	formCssClass: 'link-form',
        });
		
		// Bulk copy/paste
/*		$('#bulk-config').focus(function() {
		    var $this = $(this);
		    $this.select();

		    // Work around Chrome's little problem
		    $this.mouseup(function() {
		        // Prevent further mouseup intervention
		        $this.unbind("mouseup");
		        return false;
		    });
		});*/
		$('#bulk-copy-paste-link').click(function(e) {
			
			// copy current config
			out = "Name\tControl\teFP Coords\teFP Colour\tReplicates\tDescription";
			for (var i=0; i < $('#id_sample-TOTAL_FORMS').val(); ++i) {
				if (! $('#id_sample-'+i+'-DELETE').val()) {
					out += "\n"+$('#id_sample-'+i+'-name').val();
					if ($('#id_sample-'+i+'-is_control').attr('checked')=="checked")
						out += "\ttrue";
					else
						out += "\tfalse";
					out += "\t["+$('#id_sample-'+i+'-efp_coords').val()+"]";
					out += "\t"+$('#id_sample-'+i+'-efp_colour').val();
					out += "\t["+$('#id_sample-'+i+'-replicates').val()+"]";
					out += "\t"+$('#id_sample-'+i+'-description').val();
				}
			}
			$('#bulk-config').val(out);
			
			// show modal
			$('#bulk-modal').modal('show');
		});
		$('#bulk-update').click(function(e) {
			var rows = $('#bulk-config').val().split('\n');
			
			// remove header row
			if (rows.length > 0)
				rows.splice(0, 1);
			
			// add extra rows to match length of data
			for (var i = $('#id_sample-TOTAL_FORMS').val(); i < rows.length; i++) {
				$('#sample-addbtn').click();
			}
			//TODO: undelete any rows required
			//TODO: remove extra rows
			
			// process data
			for (var i=0; i < rows.length; i++) {
				var cols = rows[i].split('\t');
				if (cols.length == 6){
					console.log(cols);
					
					$('#id_sample-'+i+'-name').val(cols[0]);
					if (cols[1].toLowerCase() == "true")
						$('#id_sample-'+i+'-is_control').attr('checked', "checked");
					else
						$('#id_sample-'+i+'-is_control').removeAttr('checked');

					$('#id_sample-'+i+'-efp_coords').val(cols[2].substr(1,cols[2].length-2));
					$('#id_sample-'+i+'-efp_colour').val(cols[3]);
					$('#id_sample-'+i+'-replicates').val(cols[4].substr(1,cols[4].length-2).split(','));
					$('#id_sample-'+i+'-description').val(cols[5]);
				}
			}
		});
    })
	</script>
{% endblock %}
