{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > <a href="{% url 'ptadmin:listdataset' %}">Data-sets</a> > New {% endblock %}

{% block 'content' %}
			<h1>New Dataset</h1>
{% rendermessages messages %}

			<form action="{% url 'ptadmin:newdataset' %}" method="post" class="form-horizontal">
			    {% csrf_token %}
			    <!--<div class="form-group">
			    	{{form.uid.label_tag}}
			    	<div class="col-sm-6">{{form.uid}}</div>
			    </div>
			    <div class="form-group">
			    	{{form.name.label_tag}}
			    	<div class="col-sm-6">
			    		{{form.name}}{% if form.name.help_text %}
						<div class="help-text">{{form.name.help_text}}</div>{% endif %}
					</div>
			    </div>-->
			    {{ form.as_bootstrap }}
					    
			    <div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-2">
			    		<input type="submit" class="btn btn-success btn-block" value="Add" />
			    	</div>
			    </div>
			</form>
{% endblock %}




