{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}
{% load landing %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > Data-sets{% endblock %}

{% block 'content' %}
	<h1>Data-sets</h1>
	{% rendermessages messages %}
	
	<p><a class="btn btn-default" href="{% url 'ptadmin:newdataset' %}">Add Dataset</a> <a class="btn btn-default" href="{% url 'ptadmin:colourChart' %}">eFP Colour-chart</a></p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Lab Group</th>
				<th>Organism</th>
				<th># Samples</th>
				<th>Access</th>
				<th>Links</th>
			</tr>
		</thead>
		<tbody>{% for d in datasets %}
			<tr>
				<td>{{d.name|maxlen:50}}</td>
				<td>{{d.labgroup.name}}</td>
				<td>{% if d.species %}<a href="{% url 'datasetlist' d.species.uid %}">{{d.species.name}}</a>{% else %}--{% endif %}</td>
				<td>{{d.samplecount}}</td>
				<td>{% if d.publish is None %}Private{% elif d.publish|future %}Embargo (until {{d.publish}}){% else %}Public{% endif %}</td>
				<td>
					{% if d.species %}<a href="{% url 'datasetdetails' d.species.uid d.uid %}" title="View">[V]</a>{% else %}<span title="Not viewable">[V]</span>{% endif %}
					<a href="{% url 'ptadmin:uploaddataset' d.uid %}" title="Re-upload data">[U]</a>
					<a href="{% url 'ptadmin:editdataset' d.uid %}" title="Edit">[E]</a>
					<a href="{% url 'ptadmin:deployefp' d.uid %}" title="Deploy to eFP">[> eFP]</a><a href="{% url 'ptadmin:deployefp' d.uid %}?s=true" title="Deploy ONLY SETTINGS to eFP">**</a>
					<a href="{% url 'ptadmin:deploydegust' d.uid %}" title="Deploy to Degust">[> Degust]</a>
				</td>
			</tr>{% empty %}
			<tr>
				<td colspan="6">No data-sets in database yet</td>
			</tr>{% endfor %}
		</tbody>
	</table>
{% endblock %}