{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > <a href="{% url 'ptadmin:listdataset' %}">Data-sets</a> > Upload{% endblock %}

{% block 'content' %}
			<h1>Data-set Upload</h1>
{% rendermessages messages %}
		
			<form action="{% url 'ptadmin:uploaddataset' dataset.uid %}" method="post" enctype="multipart/form-data" class="form-horizontal">
			    {% csrf_token %}

	    		<div class="form-group">
	    			<label class="col-sm-2 control-label">Data-set</label>
	    			<div class="textonly-row col-sm-6">{{dataset.name}} ({{dataset.uid}})</div>
	    		</div>

			    {{ form.as_bootstrap }}
					    
			    <div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-2">
			    		<input type="submit" class="btn btn-success btn-block" value="Upload" />
			    	</div>
			    </div>
			</form>
{% endblock %}




