{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load static from staticfiles %}
{% load stringutils %}
{% load landing %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > User Groups{% endblock %}

{% block 'content' %}
	<h1>Groups</h1>
	{% rendermessages messages %}
	
	<p>Use this section to add users / groups and edit user-group membership.  Each data-set is 
		owned by a lab-group; all users in this lab-group can view the data-set even if it is 
		private</p>
	
	<p><a class="btn btn-default" href="{% url 'ptadmin:newgroup' %}">Add Group</a> <a class="btn btn-default" href="{% url 'ptadmin:newuser' %}">Add User</a></p>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th># Data-sets</th>
				<th>Users</th>
			</tr>
		</thead>
		<tbody>{% for g in groups %}
			<tr>
				<td>{{g.name}}</a></td>
				<td>{{g.dataset_set|notdeleted|count}}</td>
				<td>
					<ul>{% for u in g.user_set.all %}
						<li>{{u.get_full_name}} <a href="{% url 'ptadmin:removeusergroup' g.id u.id %}" title="Remove {{u.first_name}} from {{g.name}} group"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></li>{% endfor %}
						<li><a href="{% url 'ptadmin:addusergroup' g.id %}" title="Add user(s) to {{g.name}} group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
					</ul>
				</td>
			</tr>{% empty %}
			<tr>
				<td colspan="6">No groups in database yet</td>
			</tr>{% endfor %}
		</tbody>
	</table>
{% endblock %}