{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}
{% load landing %}

{% block 'title' %}
	<title>Portal Admin{% if settings.PORTAL_NAME %} - {{settings.PORTAL_NAME}}{% endif %}</title>
{% endblock %}

{% block 'breadcrumbs' %} > Portal Admin{% endblock %}

{% block 'content' %}
	<h1>Portal Administration</h1>
	{% rendermessages messages %}
	
	<p>Use the buttons below to select the relevant section</p>
	
	<div class="row">
		<div class="col-md-3 large-btn-row"><a class="btn btn-default btn-lg btn-block" href="{% url 'ptadmin:listorganism' %}">Organism</a></div>
		<div class="col-md-6 large-btn-row"><p>Add / Edit Organisms and their references</p></div>
	</div>
	<div class="row">
		<div class="col-md-3 large-btn-row"><a class="btn btn-default btn-lg btn-block" href="{% url 'ptadmin:listdataset' %}">Data-set</a></div>
		<div class="col-md-6 large-btn-row"><p>Add / Edit Data-sets and deploy them to viewers</p></div>
	</div>
	<div class="row">
		<div class="col-md-3 large-btn-row"><a class="btn btn-default btn-lg btn-block" href="{% url 'ptadmin:viewTemplate' %}">Template</a></div>
		<div class="col-md-6 large-btn-row"><p>View / Update landing portal style template</p></div>
	</div>
	<div class="row">
		<div class="col-md-3 large-btn-row"><a class="btn btn-default btn-lg btn-block" href="{% url 'ptadmin:listgroup' %}">User / Group</a></div>
		<div class="col-md-6 large-btn-row"><p>Add / Edit Users and Lab Groups</p></div>
	</div>
	<div class="row">
		<div class="col-md-3 large-btn-row"><a class="btn btn-default btn-lg btn-block" href="{% url 'ptadmin:systemstatus' %}">System</a></div>
		<div class="col-md-6 large-btn-row"><p>Check System status</p></div>
	</div>

{% endblock %}