{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}
{% load landing %}
{% load commonutils %}
{% load background %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > <a href="{% url 'ptadmin:listorganism' %}">Organisms</a> > {{organism.name}}{% endblock %}

{% block 'content' %}
	<h1>{{organism.name}} details</h1>
	{% rendermessages messages %}
		
	{% backgroundtasks backgroundtasks %}

	{{organism.description_header|markdown|safe}}
	
	<p><a class="btn btn-default" href="{% url 'ptadmin:referenceadd' organism.uid %}">Add Reference</a></p>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th># Data-sets</th>
				<th>Links</th>
			</tr>
		</thead>
		<tbody>{% for r in organism.references %}
			<tr>
				<td>{{r.name|maxlen:50}}</td>
				<td>{{r.type|referencetype}}</td>
				<td>{{r.dataset_set|accessible:request.user}}</td>
				<td>
					<a href="{% url 'ptadmin:referenceupload' organism.uid r.uid %}" title="Upload Features (TSV/CSV file)">[U]</a>
					<a href="{% url 'ptadmin:deployreferencelanding' organism.uid r.uid %}" title="Deploy to Landing Portal">[> Landing]</a>
					<a href="{% url 'ptadmin:deployreferenceefp' organism.uid r.uid %}" title="Deploy to eFP">[> eFP]</a>
				</td>
			</tr>{% empty %}
			<tr>
				<td colspan="6">No references in database yet</td>
			</tr>{% endfor %}
		</tbody>
	</table>
	
	{{organism.description_footer|markdown|safe}}
{% endblock %}




