{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}
{% load landing %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > Organisms{% endblock %}

{% block 'content' %}
	<h1>Organisms</h1>
	{% rendermessages messages %}
	
	<p><a class="btn btn-default" href="{% url 'ptadmin:organismadd' %}">Add Organism</a></p>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th># References</th>
				<th># Data-sets</th>
				<th>Links</th>
			</tr>
		</thead>
		<tbody>{% for o in organisms %}
			<tr>
				<td><a href="{% url 'ptadmin:detailorganism' o.uid %}" title="View organism '{{o.name}}'">{{o.name|maxlen:50}}</a></td>
				<td>{{o.reference_set|notdeleted|count}}</td>
				<td>{{o.dataset_set|notdeleted|count}}</td>
				<td>
					<a href="{% url 'ptadmin:detailorganism' o.uid %}" title="View organism '{{o.name}}'">[V]</a>
				</td>
			</tr>{% empty %}
			<tr>
				<td colspan="6">No organisms in database yet</td>
			</tr>{% endfor %}
		</tbody>
	</table>
{% endblock %}