{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > 
	<a href="{% url 'ptadmin:listorganism' %}">Organisms</a> > 
	<a href="{% url 'ptadmin:detailorganism' organism.uid %}">{{organism.name}}</a> > 
	New Reference
{% endblock %}

{% block 'content' %}
			<h1>New Reference</h1>
{% rendermessages messages %}
		
			<form action="{% url 'ptadmin:referenceadd' organism.uid %}" method="post" class="form-horizontal">
			    {% csrf_token %}

	    		<div class="form-group">
	    			<label class="col-sm-2 control-label">Organism</label>
	    			<div class="textonly-row col-sm-10">{{organism.name}}</div>
	    		</div>
	    
			    {{ form.as_bootstrap }}
			    
			    <div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-2">
			    		<input type="submit" class="btn btn-success btn-block" value="Add" />
			    	</div>
			    </div>
			</form>
{% endblock %}




