		<div class="sample-edit">
			<div>
				<label for="sample-name{{sample.num}}">Sample name</label>
				<input type="text" id="sample-name{{sample.num}}" name="sample-name{{sample.num}}" value="{{sample.name}}"/>
			</div>
			<div>
				<label for="sample-efpcolour{{sample.num}}">eFP Colour</label>
				<input type="text" id="sample-efpcolour{{sample.num}}" name="sample-efpcolour{{sample.num}}" value="{{sample.colour}}"/>
				<span style="display:inline-block; width: 16px; height: 16px; border: 1px solid black; background: {{sample.colour}}"> </span>
				<input type="button" value="Select" title="Select colour on eFP Image"/>
			</div>
			<div>
				<label for="sample-columns{{sample.num}}">Replicates</label>
				<select name="sample-columns{{sample.num}}" multiple="multiple">{% for opt in datasetdetails.columns %}
					<option value="{{opt}}"{% if opt in sample.columns %} selected="selected" {% endif %}>{{opt}}</option>{% endfor %}
				</select>
			</div>
		</div>