{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}
{% load landing %}

{% block 'title' %}
	<title>Portal Admin{% if settings.PORTAL_NAME %} - {{settings.PORTAL_NAME}}{% endif %}</title>
{% endblock %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > System{% endblock %}

{% block 'content' %}
	<h1>System Status</h1>
	{% rendermessages messages %}
	
	<h2>Disk usage</h2>
	<div class="row">
		<div class="col-md-2"><b>Mount</b></div>
		<div class="col-md-1"><b>Usage</b></div>
		<div class="col-md-1"><b>Available</b></div>
		<div class="col-md-2"><b>Status</b></div>
	</div>{% for u in usage %}
	<div class="row">
		<div class="col-md-2 status {{u.6}}">{{u.5}}</div>
		<div class="col-md-1 status {{u.6}}">{{u.4}}</div>
		<div class="col-md-1 status {{u.6}}">{{u.3}}</div>
		<div class="col-md-2 status {{u.6}}">{{u.6}}</div>
	</div>{% endfor %}

{% endblock %}