{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load stringutils %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > View Template{% endblock %}

{% block 'content' %}
	<h1>Template</h1>
	{% rendermessages messages %}
	
	<p><b>Name</b>: {{template.name}}</p>
	<p><b>Links</b>: <a href="{% url 'ptadmin:updateTemplate' %}" title="Run template operations">[Run]</a></p>
	
	<h2>Operations</h2>
	<div class="row">
		<div class="col-sm-1"><b>Enabled</b></div>
		<div class="col-sm-1"><b>Order</b></div>
		<div class="col-sm-4"><b>Function</b></div>
		<div class="col-sm-6"><b>Arguments</b></div>
	</div>{% for op in template %}
	<div class="row{% if not op.enabled %} strikethrough{% endif %}">
		<div class="col-sm-1">{% if op.enabled %}Yes{% else %}No{% endif %}</div>
		<div class="col-sm-1">{{op.order}}</div>
		<div class="col-sm-4">{{op.function}}</div>
		<div class="col-sm-6">{{op.args}}</div>
	</div>{% endfor %}
{% endblock %}




