{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load static from staticfiles %}
{% load stringutils %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > <a href="{% url 'ptadmin:listgroup' %}">User Groups</a> > New{% endblock %}

{% block 'content' %}
			<h1>New User</h1>
{% rendermessages messages %}
		
			<form action="{% url 'ptadmin:newuser' %}" method="post" class="form-horizontal">
			    {% csrf_token %}
			    {{ form.as_bootstrap }}
					    
			    <div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-2">
			    		<input type="submit" class="btn btn-success btn-block" value="Add" />
			    	</div>
			    </div>
			</form>
{% endblock %}

