{% extends 'portaladmin/_base.html' %}

{% load messages %}
{% load dateutils %}
{% load static from staticfiles %}
{% load stringutils %}

{% block 'breadcrumbs' %} > <a href="{% url 'ptadmin:home' %}">Portal Admin</a> > <a href="{% url 'ptadmin:listgroup' %}">User Groups</a> > Add Users to Group{% endblock %}

{% block 'content' %}
			<h1>Add Users to Group</h1>
{% rendermessages messages %}
	
			<form action="{% url 'ptadmin:addusergroup' groupobj.id %}" method="post" class="form-horizontal">
			    {% csrf_token %}
			    
			    <div class="form-group">
					<label class="col-sm-2 control-label">Group</label>
					<div class="col-sm-10">
						<div class="textonly-row">{{groupobj.name}}</div>
					</div>
				</div>
			    
			    {{ form.as_bootstrap }}
			    
			    <div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-2">
			    		<input type="submit" class="btn btn-success btn-block" value="Add" />
			    	</div>
			    </div>
			</form>
{% endblock %}

