.keyword-name {font-weight: bold;}

.powered-by, .powered-by a {font-style: italic; color: grey; font-size: 13px!important;}

ul.collection {margin-top: 10px;}
ul.collection div.title {}
ul.collection div.title a {font-weight: bold;}
ul.collection div.description {font-size: 90%; line-height: 120%; font-style: italic;}
