
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-info {
    border-color: #bce8f1;
}
.panel-success {
    border-color: #d6e9c6;
}
.panel-warning {
    border-color: #faebcc;
}
.panel-danger {
    border-color: #ebccd1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-danger>.panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.text-info {
    color: #31708f;
}
.text-success {
    color: #3c763d;
}
.text-warning {
    color: #8a6d3b;
}
.text-danger {
    color: #a94442;
}

.panel-heading a {
	text-decoration: none;
}
div.panel-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.panel-body li, div.panel-heading h3 {
	margin-bottom: 0;
	margin: 0;
}
.panel-body {
    padding: 15px;
}
[role=button] {
    cursor: pointer;
}


