{% extends "_nostyle" %}

{% load messages %}
{% load dictutils %}
{% load static from staticfiles %}
{% load stringutils %}

{% block 'title' %}
	<title>Degust Browser - La Trobe University RNAseq Database</title>
{% endblock %}

{% block 'headercss' %}
    <link rel="stylesheet" href='./css/lib.css' />
    <link rel="stylesheet" href='./css/common.css' type="text/css" />
    <link rel="stylesheet" href='./css/compare.css' type="text/css "/>
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
{% endblock %}

{% block 'headerjs' %}
    <script type="text/javascript" src='./common.js'></script>
    <script type="text/javascript" src='./slickgrid.js'></script>
    <script type="text/javascript" src='./compare.js'></script>
{% endblock %} 

{% block 'content' %}
	<div id="replace-me" class="container">
		<div class="jumbotron">
			<h1>Degust</h1>
			<p>
				<a href='http://victorian-bioinformatics-consortium.github.io/degust/'>Degust</a>
				is preparing your data... prepare for degustation...
			</p>
			<img src='./images/front-loader.gif'>
		</div>
	</div>
{% endblock %}

{% block 'footerjs' %}
	<script type="text/javascript">
		window.settings = {};
	</script>
{% endblock %}

