<html>{% load static from staticfiles %}
  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <title>Degust Browser - La Trobe University RNAseq Database</title>

    <!-- Externals CSS -->
    <link rel="stylesheet" href='./css/lib.css' />
    <link rel="stylesheet" href='./css/common.css' type="text/css" />
    <link rel="stylesheet" href='./css/compare.css' type="text/css "/>

    <script type="text/javascript" src='./common.js'></script>
    <script type="text/javascript" src='./slickgrid.js'></script>
    <script type="text/javascript" src='./compare.js'></script>
    
    <script type="text/javascript" src="{% static 'degust/iframeResizer.contentWindow.min.js' %}"></script>
  </head>
  <body>
    <div id="replace-me" class="container">
      <div class="jumbotron">
        <h1>Degust</h1>
        <p><a href='http://victorian-bioinformatics-consortium.github.io/degust/'>Degust</a> is preparing your data...  prepare for degustation...</p>
        <img src='./images/front-loader.gif'>
      </div>
    </div>

    <script type="text/javascript">
      window.settings = { };
    </script>
    <script type="text/javascript">
	    jQuery(document).ready(function () {
	        jQuery("#IDofControlFiringResizeEvent").click(function () {
	            var frame = $('#IDofiframeInMainWindow', window.parent.document);
	            var height = jQuery("#IDofContainerInsideiFrame").height();
	            frame.height(height + 15);
	        });
	        
	        // pre-filter Genes if q getvar is passed to parent window
			function getQueryVariable(variable)
			{
			       var query = parent.window.location.search.substring(1);
			       var vars = query.split("&");
			       for (var i=0;i<vars.length;i++) {
			               var pair = vars[i].split("=");
			               if(pair[0] == variable){return pair[1];}
			       }
			       return(false);
			}
			var q=getQueryVariable("q");
			if (q!=false) {
				setTimeout(function(){ jQuery('div.tab-search > input').val(q).trigger('keyup'); }, 500); // small delay as search box is created via javascript
			}
	    });
	</script>
  </body>
</html>

