{% extends collection.get_template %}

{% load landing %}
{% load messages %}
{% load dictutils %}
{% load static from staticfiles %}
{% load stringutils %}

{% block 'headerjs' %}
    <script type="text/javascript" src="{% static 'degust/iframeResizer.min.js' %}"></script>
{% endblock %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>{{settings.DEGUST_COMMON_NAME}}</h1>
	<div class="degust-description">{{dataset.degustdescription|markdown|safe}}</div>
	<iframe id="iframe" src="{% url 'degust:compare' organism.uid dataset.uid %}?code={{dataset.uid}}" style="width: 100%; border: 1px solid black;" scrolling="no"></iframe>
	<script>iFrameResize({log:true})</script>
	<p class="powered-by">Powered by <a href="https://drpowell.github.io/degust/" title="Open Degust developer page">Degust</a></p>
{% endblock %}

