<!DOCTYPE html>{% load static from staticfiles %}
<html>
<head>{% block 'title' %}
	<title>{{title}}{% if title and settings.PORTAL_NAME %} - {% endif %}{{settings.PORTAL_NAME}}</title>{% endblock %}
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="http://www.latrobe.edu.au/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="http://www.latrobe.edu.au/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://www.latrobe.edu.au/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="http://www.latrobe.edu.au/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://www.latrobe.edu.au/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="http://www.latrobe.edu.au/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="http://www.latrobe.edu.au/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="http://www.latrobe.edu.au/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="http://www.latrobe.edu.au/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="http://www.latrobe.edu.au/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="http://www.latrobe.edu.au/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="http://www.latrobe.edu.au/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="http://www.latrobe.edu.au/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="http://www.latrobe.edu.au/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="http://www.latrobe.edu.au/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- end favicon -->
	<link rel="stylesheet" 
	      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	      crossorigin="anonymous" />
	<link rel="stylesheet" 
	      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
	      crossorigin="anonymous" />
{% block 'appheadercss' %}{% endblock %}{% block 'headercss' %}{% endblock %}
	<link rel="stylesheet" href="{% static 'common/base.css' %}"  />
	<script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
{% block 'headerjs' %}{% endblock %}
</head>
<body>
	<div class="container">
		<div class="breadcrumbs"><a href="{% url 'home' %}">RNAseq Database</a>{% block 'breadcrumbs' %}{% endblock %}
			<div class="user-login">{% if request.user.is_authenticated %}
				[<span title="Logged in as {{request.user.get_full_name}} [{{request.user.username}}]">{% if request.user.get_full_name %}{{request.user.get_full_name}}{% else %}{{request.user.username}}{% endif %}</span> (<a href="{% url 'logout' %}?next={{request.path}}">logout</a>)]{% else %}
				<a href="{% url 'login' %}?next={{request.path}}">[login]</a>{% endif %}
			</div>
		</div>
		<div class="content">{% block 'content' %}
		{% endblock %}</div>
	</div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous"></script>
{% block 'dialog' %}{% endblock %}{% block 'footerjs' %}{% endblock %}
	<script src="{% static 'common/delayed-jquery.js' %}"></script>
</body>
</html>
