<!DOCTYPE html>
<html>
<head>{% block 'title' %}
	<title>{{title}} - La Trobe University RNAseq Database</title>{% endblock %}
{% block 'headercss' %}{% endblock %}{% block 'headerjs' %}{% endblock %}
</head>
<body>
	<div class="breadcrumbs"><a href="{% url 'home' %}">RNAseq Database</a>{% block 'breadcrumbs' %}{% endblock %}</div>
	<div class="content">{% block 'content' %}
	{% endblock %}</div>
{% block 'dialog' %}{% endblock %}
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	{% block 'footerjs' %}{% endblock %}
</body>
</html>
