{% extends "UPDATEABLE_ltu" %}

{% load messages %}
{% load static from staticfiles %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
{% endblock %}

{% block 'content' %}

		{% rendermessages messages %}
		
		<form method="post">{% csrf_token %}
			<input type="hidden" name="next" value="{{next}}" />
			
			<fieldset>
				<legend class="sq-form-section-title">Login</legend>
				<div class="sq-form-question sq-form-question-text">
					This is a restricted resource.  Please type your username and password to gain access.
				</div>
				<div class="sq-form-question sq-form-question-text">
					<label for="username">Username <abbr class="sq-form-required-field" title="required">*</abbr></label>
					<input id="username" type="text" name="username" />
					<p class="help">La Trobe staff 'username@ltu.edu.au' e.g. jsmith@ltu.edu.au<br/>
						La Trobe students 'username@students.ltu.edu.au' e.g. 16111111@students.ltu.edu.au</p>
				</div>
				<div class="sq-form-question sq-form-question-text">
					<label for="password">Password <abbr class="sq-form-required-field" title="required">*</abbr></label>
					<input id="password" type="password" name="password" />
				</div>
			</fieldset>
			
			<input type="button" value="Back" onclick="window.history.back();" />
			
			<input type="submit" value="Login" />
		</form>
			
{% endblock %}





