{% extends collection.get_template %}

{% load static from staticfiles %}
{% load messages %}
{% load landing %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>{{dataset.name}}</h1>
	{% rendermessages messages %}
	
	{{dataset.description_header|markdown|safe}}
	
	{% if dataset.efpdeployed or dataset.degustdeployed %}<p><b>Viewers</b>: {% if dataset.efpdeployed %}
		<a href="{% url 'efp:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}" title="Open experiment in {{settings.EFP_COMMON_LINKNAME}}">[{{settings.EFP_COMMON_LINKNAME}}]</a>{% endif %}{% if dataset.degustdeployed %}
		<a href="{% url 'degust:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}" title="Open experiment in {{settings.DEGUST_COMMON_LINKNAME}}">[{{settings.DEGUST_COMMON_LINKNAME}}]</a>{% endif %}</p>{% endif %}{% if dataset.countsdownload %}
	<p><b>Download</b>: <a href="{% url 'datasetdownload' dataset.uid 'default' %}" title="Download full counts file in '{{dataset.countsformat}}' format">[{{dataset.countsformat}}]</a></p>{% endif %}	
	<p><b>Access</b>: {{dataset|publicprivate}}
	<h2>Samples</h2>{% for s in samples %}
	<h3><a href="{% url 'sampledetails'  collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid sampleuid=s.name %}">{{s.name}}</a></h3>
	<p>{{s.description|markdown|safe}}</p>
	{% empty %}
	<p>No samples available</p>
	{% endfor %}
	
	{{dataset.description_footer|markdown|safe}}
{% endblock %}