{% extends collection.get_template %}

{% load static from staticfiles %}
{% load messages %}
{% load landing %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>{{organism.name}} dataset(s)</h1>
	{% rendermessages messages %}
	
	{{organism.description_header|markdown|safe}}
	
	<ul class="dataset-list">{% for d in datasets %}
		<li>
			<a href="{% url 'datasetdetails' collectionuid=collection.uid organismuid=organism.uid datasetuid=d.uid %}">{{d.name}}</a> ({{d.sample_set.count}} sample(s)) [{{d|publicprivate}}]
			<ul>{% if d.efpdeployed %}
				<li><a href="{% url 'efp:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=d.uid %}">{{settings.EFP_COMMON_LINKNAME}}</a></li>{% endif %}{% if d.degustdeployed %}
				<li><a href="{% url 'degust:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=d.uid %}">{{settings.DEGUST_COMMON_LINKNAME}}</a></li>{% endif %}{% if d.countsdownload %}
				<li><a href="{% url 'datasetdownload' d.uid 'default' %}" title="Download full counts file in {{d.countsformat}} format">Download ({{d.countsformat}})</a></li>{% endif %}
			</ul>
		</li>{% empty %}No {{organism.name}} datasets yet{% endfor %}
	</ul>
	
	{{organism.description_footer|markdown|safe}}
{% endblock %}