{% extends collection.get_template %}

{% load static from staticfiles %}
{% load messages %}
{% load landing %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>{{title}}</h1>
	{% rendermessages messages %}
	<div><span class="keyword-name">Organism</span> <span class="keyword-value"><a href="{% url 'datasetlist' collectionuid=collection.uid organismuid=dataset.species.uid %}">{{dataset.species.name}}</a></span></div>
	<div><span class="keyword-name">Data-set</span> <span class="keyword-value"><a href="{% url 'datasetdetails' collectionuid=collection.uid organismuid=dataset.species.uid datasetuid=dataset.uid %}">{{dataset.name}}</a></span></div>
	{% if dataset.efpdeployed or dataset.degustdeployed %}<div><span class="keyword-name">Viewers</span> {% if dataset.efpdeployed %}
	<span class="keyword-value"><a href="{% url 'efp:home' collectionuid=collection.uid organismuid=dataset.species.uid datasetuid=dataset.uid %}?primaryGene={{feature.uid}}" title="Open feature in {{settings.EFP_COMMON_NAME}}">[{{settings.EFP_COMMON_NAME}}]</a></span>{% endif %}{% if dataset.degustdeployed %}
	<span class="keyword-value"><a href="{% url 'degust:home' collectionuid=collection.uid organismuid=dataset.species.uid datasetuid=dataset.uid %}?q={{feature.uid}}" title="Open feature in {{settings.DEGUST_COMMON_NAME}}">[{{settings.DEGUST_COMMON_NAME}}]</a></span>{% endif %}</div>{% endif %}
	{% if extlink.url %}<div><span class="keyword-name">External Links</span> <a href="{{extlink.url}}" title="Open feature in {{extlink.label}}">[{{extlink.label}}]</a></div>{% endif %}
	<h2>Feature Details</h2>
	<p>{% if feature.description %}{{feature.description}}{% else %}Unannotated feature{% endif %}</p>
	<h2>Data-set Details</h2>
	{{dataset.description_header|markdown|safe}}
	{{dataset.description_footer|markdown|safe}}
{% endblock %}