{% extends collection.get_template %}

{% load static from staticfiles %}
{% load messages %}
{% load landing %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>{{collection.name}}</h1>
	{% rendermessages messages %}
	
	{{collection.description_header|markdown|safe}}
	
	<h2>Organisms</h2>
	<ul class="species-list">{% for o in organism %}
		<li><a href="{% url 'datasetlist' collectionuid=collection.uid organismuid=o.uid %}">{{o.name}}</a> [{{o.dataset_set|in_collection:collection|notdeleted|accessible:request.user}}]</li>{% empty %}No organisms in database yet{% endfor %}
	</ul>
	
	{{collection.description_footer|markdown|safe}}{% if collection.link_top and collections %}
	
	<h2>Collections</h2>
	
	Alternatively you can view datasets from our other collections
	
	<ul class="collection">{% for c in collections %}
		<li>
			<div class="title"><a href="{% url 'home' collectionuid=c.uid %}">{{c.name}}</a>{% if c == collection %} [current]{% endif %}</div>
			<div class="description">{{c.description_short}}</div>
		</li>{% endfor %}
	</ul>{% endif %}
{% endblock %}
