{% extends 'UPDATEABLE_ltu' %}

{% load static from staticfiles %}
{% load messages %}
{% load landing %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>References</h1>
	{% rendermessages messages %}
	{% for s in species %}{% if s.reference_set|notdeleted|count > 0 %}
	<h2>{{s.name}}</h2>
	<ul class="reference-list">{% for r in s.reference_set|notdeleted %}
		<li><a href="{% url 'referencedetails' r.uid %}">{{r.name}}</a> [{{r.dataset_set|accessible:request.user}}]</li>{% empty %}No {{s.name}} references yet{% endfor %}
	</ul>{% endif %}{% endfor %}
{% endblock %}
