{% extends 'UPDATEABLE_ltu' %}

{% load static from staticfiles %}
{% load messages %}
{% load landing %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>{{reference.name}}</h1>
	{% rendermessages messages %}
	
	{{reference.description|markdown|safe}}
	
	{% if dataset.efpdeployed or dataset.degustdeployed %}<p><b>Viewers</b>: {% if dataset.efpdeployed %}
		<a href="{% url 'efp:home' species.uid dataset.uid %}" title="Open experiment in eFP Browser">[eFP]</a>{% endif %}{% if dataset.degustdeployed %}
		<a href="{% url 'degust:home' species.uid dataset.uid %}" title="Open experiment in Degust Browser">[Degust]</a>{% endif %}</p>{% endif %}
	
	<h2>Data-sets</h2><ul>{% for d in datasets %}
	<li><p><b><a href="{% url 'datasetdetails' d.species.uid d.uid %}">{{d.name}}</a></b> [{{d|publicprivate}}]</p>
	{{d.description|markdown|safe}}</li>
	{% empty %}
	<p>No data-sets available</p>
	{% endfor %}</ul>
	
	{{reference.description_footer|markdown|safe}}
{% endblock %}