{% extends collection.get_template %}

{% load static from staticfiles %}
{% load messages %}
{% load landing %}

{% block 'headercss' %}
	<link rel="stylesheet" href="{% static 'common/alert.css' %}" />
	<link rel="stylesheet" href="{% static 'common/base.css' %}" />
	<link rel="stylesheet" href="{% static 'landing/css/base.css' %}" />
{% endblock %}

{% block 'content' %}
	<h1>{{dataset.name}}: {{sample.name}}</h1>
	{% rendermessages messages %}
	<div><span class="keyword-name">Organism</span> <span class="keyword-value"><a href="{% url 'datasetlist' collectionuid=collection.uid organismuid=organism.uid %}">{{organism.name}}</a></span></div>
	<div><span class="keyword-name">Data-set</span> <span class="keyword-value"><a href="{% url 'datasetdetails' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}">{{dataset.name}}</a></span></div>
	<h2>Sample Details</h2>
	<p>{{sample.description|markdown|safe}}</p>
	{% if dataset.efpdeployed or dataset.degustdeployed %}<p><strong>Viewers</strong>: {% if dataset.efpdeployed %}
	<a href="{% url 'efp:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}" title="Open experiment in {{settings.EFP_COMMON_NAME}}">[{{settings.EFP_COMMON_NAME}}]</a>{% endif %}{% if dataset.degustdeployed %}
	<a href="{% url 'degust:home' collectionuid=collection.uid organismuid=organism.uid datasetuid=dataset.uid %}" title="Open experiment in {{settings.DEGUST_COMMON_NAME}}">[{{settings.DEGUST_COMMON_NAME}}]</a>{% endif %}</p>{% endif %}
	<h2>Data-set Details</h2>
	{{dataset.description_header|markdown|safe}}
	{{dataset.description_footer|markdown|safe}}
{% endblock %}