div.end-space {margin-bottom: 100px;}
div.user-login {float:right; margin: 1px 10px; color: gray; font-style: italic; font-size: 12px;}
div.user-login a {color: gray; font-style: italic; font-size: 12px;}


